# Base de données SQLite locale pour le développement
DATABASE_URL="file:./prisma/dev.db"

# Variables pour l'environnement de test
# DATABASE_URL="file:./test.db"
# NODE_ENV="test"

# Variables pour la production
# DATABASE_URL="votre_url_de_production"
# NODE_ENV="production"
